* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(71, 0, 0);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 10px 20px;
}

header img {
    height: 50px;
    margin-bottom: 10px;
}

.bar {
    display: flex;
    align-items: center; /* Alinha itens horizontalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

.bar a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-left: 20px;
}


header a:hover {
    color: yellow;

}

header img {
    padding: 15px;
    margin: 0 auto;
    display: block;
    height: 100px;
    width: auto;
    clear: both;
}

main {
    background-image: url(images/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
}

/*carrossel*/
.container-slider{
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.slider{
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;

}

#prev-button{
    transform: rotate(180deg);
}


/*Formulario*/

.formulario {
    background: linear-gradient(white,rgb(202, 201, 201));
    width: 25%;
    margin: 10% auto;
    border-radius: 10px;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.5);
    
}


.input-padrao {
    display: block;
    margin: 5% auto;
    width: 80%;
    padding: 10px;
}
.enviar {
    width: 80%; /* Ocupa toda a largura do seu contêiner (formulário) */
    padding: 10px; /* Espaçamento interno */
    background: rgb(71, 0, 0); /* Cor de fundo */
    color: white; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
    font-size: 18px; /* Tamanho da fonte */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar */
    display: block; /* Torna o botão um elemento de bloco */
    margin: 0 auto; /* Centraliza horizontalmente dentro do contêiner pai */
    text-align: center; /* Alinha o texto centralmente */
}




/*TODO RESPONSIVO*/